@import "tailwindcss";

/* ================= PREMIUM DARK THEME (DEFAULT) ================= */
:root {
    --bg: #f8fafc;
    --text: #0f172a;
    --muted: #64748b;
    --card: #ffffff;
    --border: #e2e8f0;
    --primary: #2563eb;
    /* WARNA BRAND KAMU */
}

[data-theme="dark"] {
    --bg: #101828;
    --text: #e5e7eb;
    --muted: #94a3b8;
    --card: #1e2939;
    --nav: #1e29399b;
    --border: #1e293b;
    --primary: #3b82f6;
    /* tetap biru brand */
}

.input {
    @apply w-full border border-gray-200 rounded-lg px-3 py-2 text-sm outline-none focus:ring-2 focus:ring-blue-500;
}

.btn-primary {
    @apply flex items-center gap-2 bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}